.contact-contanier{
   margin:  0 8rem ;
   position: relative; 
}
.contact-contanier h5{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;

}
.contact-content{
    display: flex;
    gap: 3rem;
}
@media(max-width:768px){
    .contact-content{
        flex-direction: column-reverse;

    }
    .contact-contanier h5{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}